<body class="login-signup">
<div class="row">
  <div class="col-md-5 mr-4">
    <h2 class="login-head">Login</h2>

    <form class="form login-form">
      <div class="form-group">
        <label for="email-login">Email:</label>
        <input class="form-input" type="text" placeholder="Enter your email" id="email-login" />
        <i class="fa fa-envelope icon"></i>
      </div>
      <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" placeholder= "Enter your password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-login" type="submit">LOGIN</button>
      </div>
    </form>
  </div>
  <div class="col-md-5 ml-4">
    <h2 class="login-head">Signup</h2>

    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup">Name:</label>
        <input class="form-input" type="text" placeholder="What is your name?" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">Email:</label>
        <input class="form-input" type="text" placeholder="What is your email?" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">Password:</label>
        <input class="form-input" type="password" placeholder="Create your password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-login" type="submit">SIGNUP</button>
        
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>
<script src="./js/signup.js"></script>
</body>
