<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>List a New Item</h3>

    <form class="form new-project-form">
      <div class="form-group">
        <label for="project-name">Item name:</label>
        <input class="form-input" type="text" id="project-name" name="project-name" />
      </div>
      <div class="form-group">
        <label for="project-desc">description:</label>
        <textarea class="form-input" id="project-desc" name="project-desc"></textarea>
      </div>
      <div class="form-group">
        <label for="project-price">Price ($):</label>
        <input class="form-input" type="number" id="project-price" name="project-funding" />
      </div>

      <div class="form-group">
        <label for="project-address">Address:</label>
        <input class="form-input" type="text" id="project-address" name="project-address" />
      </div>
      <div class="form-group">
        <label for="project-city">City:</label>
        <input class="form-input" type="text" id="project-city" name="project-city" />
      </div>
      <div class="form-group">
        <label for="project-state">State:</label>
        <input class="form-input" type="text" id="project-state" name="project-state" />
      </div>
      <div class="form-group">
        <label for="project-zipcode">Zip code:</label>
        <input class="form-input" type="text" id="project-zipcode" name="project-zipcode" />
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
    {{#if projects.length}}
    <div class="col-md-6 project-list">
      <h3>Current Projects:</h3>

      {{#each projects as |projects|}}
      <div class="row mb-2">
        <div class="col-md-8">
          <h4><a href="/project/{{projects.id}}">{{projects.name}}</a></h4>
        </div>
        <div class="col-md-4">
          <button class="btn btn-sm btn-danger" data-id="{{projects.id}}">DELETE</button>
        </div>
      </div>
      {{/each}}
    </div>
    {{/if}}
  </div>

  <script src="./js/profile.js"></script>