header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}
#top-row {
  gap: 150px;
  margin-bottom: 150px;
  margin-top: 50px;
}
#top-row{
  background-color: gainsboro;
  border-radius: 11px;
}

header{
  font-family: 'Inconsolata', monospace;
  background-color: lightyellow;
  font-size: 15px;
}
a:link{
  text-decoration: none;
}
a{
  color: lightseagreen
}
h1{
  font-size: 30px;
}
#intro {
  border-right: 1px solid #ccc;
  font-family: 'Ubuntu', sans-serif;
  margin-bottom: 100px;
}
h2{
  font-size: 35px;
}
#start{
  color: rgba(0, 0, 0, 0.319);
  font-size: 33px;
}
#start:hover{
  color: #056605;
}
body{
  background-color: snow;
}

/* Style the form icons
.icon {
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
} */

body.login-signup {
  background: linear-gradient(to right,#4fb3ff,#ff9869);
}

h2.login-head {
  text-align: center;
  margin-top: 20px;
}

.btn-login {
  font-weight: 700;
  background: linear-gradient(to bottom right, #00dbde, #fc00ff);
  margin-top: 20px;
  padding: 10px 20px;
  width: 200px;
}

.btn-login:hover {
  background: linear-gradient(to bottom right, #fc00ff, #00dbde);
}

.listing-item:not(:last-child) {
  border-bottom: 1px solid #000;
}

.listing-price {
  color: green;
  font-size: 20px;
  font-weight: bold;
}

/* .list-photo {
  height: 100px;
  width: 150px 
} */